body {
	font-family: Consolas, sans-serif;	
}

.axis path,
.axis line
{
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

h2,h3, p {

	text-align: center;
}

h3, p {

	/*margin: -10 auto;*/
}

.title {
max-width: 350px;	
}